<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.purho.java.android.ct60a2411.juvinile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewEventFeedBacksActivity"></activity>
        <activity android:name=".FeedBackActivity" />
        <activity android:name=".EventActive" />
        <activity android:name=".AdminTools" />
        <activity android:name=".EventData" />
        <activity android:name=".MasterData" />
        <activity android:name=".ViewSingleEvent" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EventActiveActivity" />
        <activity android:name=".EventDataActivity" />
        <activity android:name=".MasterDataActivity" />
        <activity android:name=".AdminToolsActivity" />
        <activity android:name=".ViewSingleEventActivity" />
    </application>

</manifest>